
body { 
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  font-family: sans-serif;
  color: #FFFFFF;
  background-color: #000000;
}

A:link { 
  color: #FFBBBB; 
}
A:visited {
  color: #33FF33;  
}
A:active {
  color: #AAAAFF;
}

p, form {
  font-family:sans-serif;
  font-size:12pt; 
}

#p { text-align: justify; }

B, STRONG, I, EM, CITE, VAR, TT, CODE, KBD, SAMP, IMG
{ 
 display: inline;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style-type: disc;
  display: block;
}

li {
  margin-bottom: 0.2em;
}

H2, H3 { 
  margin-top: 0.5em; 
}

H1, H2, h3 { font-weight: bold }

B, STRONG { 
  font-variant: small-caps;
  font-weight: bold;
}

I, CITE, EM, VAR, ADDRESS, BLOCKQUOTE { font-style: italic }

PRE, TT, KBD, SAMP { font-family: monospace }

TABLE {
  color: #FFFFFF;
  background-color: #00007F;
}

TH {
  color: #FFFFFF;
  background-color: #007F00;
}

TD {
  color: #FFFFFF;
  background-color: #00007F;
}

#TR {
#  color: #FFFFFF;
#  background-color: #000000;
#}


CODE {
  font-family: monospace;
  font-style:none;
  white-space: pre;
}


PRE { 
  white-space: pre;
  margin-top: 0.5em;
}

ADDRESS { 
  font-family: monospace;
  font-size: 12pt; 
  text-align: left;
  margin-bottom: 0.5em;
}

h1 { 
  font-family: sans-serif;
  font-size:xx-large;
  font-weight:bold;
  text-align:right;
  margin-right:36px;
  margin-top: 0.5em; 
  margin-bottom: 0.5em;
}

h2 { 
  font-family:sans-serif;
  font-size:x-large;
  font-weight:bold;
}

h3 { 
  font-family:sans-serif;
  font-size:large;
  font-style:italic;
}

