body { 
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  font-family: serif;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("lightstars.png");
}

A:link { 
  color: #FF9933; 
  text-decoration: none;
}
A:visited {
  color: #33FF33;
  text-decoration: none;
}
A:active {
  color: #AAAAFF;
  text-decoration: none;
}

p, form {
  font-family:serif;
  font-size:medium; 
}

p, li {
  margin-left: 1em;
}

B, STRONG, I, EM, CITE, VAR, TT, CODE, KBD, SAMP, IMG
{ 
 display: inline;
}

ul {
  list-style-type: disc;
  display: block;
}

li {
  margin-bottom: 0.2em;
  font-family:serif;
  font-size:medium; 
}

H1, H2, H3 {
  font-family: sans-serif;
  font-weight: bold;
}

H2, H3 { 
  margin-top: 0.5em; 
}

B, STRONG { 
  font-variant: small-caps;
  font-weight: bold;
}

I, CITE, EM, VAR, ADDRESS, BLOCKQUOTE {
  font-style: italic;
}

PRE, TT, KBD, SAMP {
  font-family: monospace;
  font-size: small;
}

TABLE {
  color: #FFFFFF;
  background-color: #00007F;
}

TH {
  color: #FFFFFF;
  background-color: #007F00;
}

TD {
  color: #FFFFFF;
  background-color: #00007F;
  vertical-align: top;
}

CODE {
  font-family: monospace;
  white-space: pre;
}

PRE { 
  white-space: pre;
  margin-left: 3em;
}

ADDRESS { 
  font-family: monospace;
  font-size: 12pt; 
  text-align: left;
  margin-bottom: 0.5em;
}

h1 {
  font-size:xx-large;
  font-weight:bold;
  text-align:right;
  margin-right:36px;
  margin-top: 0.5em; 
  margin-bottom: 0.5em;
}

h2 {
  font-size:x-large;
  font-weight:bold;
}

h3 {
  font-size:large;
  font-style:italic;
}
img {
	border: 0;
}

	
